html, body {
	margin: 0;
	height: 100%;
}

#container {
	padding: 3px;
}

.text-holder {
	background-color: #fff;
	border: 1px solid #d5d9d9;
	border-radius: 8px;
	box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
	box-sizing: border-box;
	color: #0f1111;
	cursor: pointer;
	display: inline-block;
	font-family: "Amazon Ember",sans-serif;
	font-size: 13px;
	line-height: 29px;
	padding: 0 10px 0 11px;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	margin-bottom: 10px;
}

.text-holder:hover {
  background-color: #f7fafa;
}

.text-holder:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.innerbox {
	border: 3px solid green;
}

.innerbox-red {
	border: 3px solid red;
}

#canvas {
	border: 2px dotted black;
	/*width: 100%;*/
}